<!-- {{ if logged_in }}
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<meta name="csrf-token" content="{{ csrf_token }}">
<meta name="username" content="{{user}}{{ username }}{{/user}}">
<script>
document.addEventListener('DOMContentLoaded', function() {
	new Vue({
		el: '#app',
		data: {
			userForms: [],
			got: [],
			formValue: [],
			formTitle: document.getElementsByTagName("form")[1].id,
			hasSaved: false,
			userName: document.querySelector('meta[name="username"]').getAttribute('content')
		},
		methods: {
			convert: function getFormData($form) {
				var unindexed_array = $form.serializeArray();
				var indexed_array = {};
				$.map(unindexed_array, function(n, i) {
					indexed_array[n['name']] = n['value'];
				});
				return indexed_array;
			},
			saveForm: function() {
				var form = $("#" + this.formTitle)
				this.formValue = this.convert(form)
				var current = this.formTitle
				function formExists(form) {
					return form.form === current;
				}
				if (this.userForms.find(formExists)) {
					// this form exists 
					this.userForms.find(formExists).saved = [this.formValue]
				} else {
					// this form does not exists 
					this.userForms.push({
						form: this.formTitle,
						id: Math.floor(1000 + Math.random() * 9000),
						saved: [this.formValue],
					})
				}
				this.hasSaved = true
				axios({
					method: 'post',
					url: '/!/FormSaves/SavedForms/' + this.userName,
					data: this.userForms,
					dataType: "json",
					headers: {
						'Content-Type': 'application/json',
						'X-Requested-With': 'XMLHttpRequest',
						'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
					}
				}).then(response => {
					console.log(response)
				}).catch(errors => {
					console.log(errors)
				})
			},
			loadForms: function() {
				this.loading = true;
				axios.get("/!/FormSaves/Forms/" + this.userName).then((response) => {
					this.loading = false;
					this.userForms = response.data;
					var a = JSON.parse(JSON.stringify(response.data.find(form => form.form === this.formTitle)))
					var result = a['saved'][0];
					if (result) {
						this.hasSaved = true
						this.formValue = a['saved'][0];
						this.getForm();
					} else {
						this.hasSaved = false
					}
				}, (error) => {
					this.loading = false;
				})
			},
			getForm: function() {
				$('input[type=checkbox]').prop("checked", false);
				// get form data
				var frm = $("#" + this.formTitle);
				var i;
				for (i in this.formValue) {
					var fields = frm.find('[name="' + i + '"]');
					var checkboxes = document.getElementsByName(i)
					// find checkboxes and tick
					if (fields.attr('type') == 'checkbox') {
						for (var c = 0; c < checkboxes.length; c++) {
							if (checkboxes[c].value == this.formValue[i]) {
								checkboxes[c].click();
							}
						}
					} else {
						fields.val(this.formValue[i]);
					}
				}
			},
		},
		created: function() {
			// check if the user has saved forms then show the load button
			axios.get("/!/FormSaves/CheckExists/" + this.userName).then((response) => {
				console.log('user has saved:' + response.data)
				if (response.data === true) {
					this.hasSaved = true
				}
			})
		},

	})
})
</script>
<div id="app"> -->
<section class="regular">
    <header>
   	<button @click="saveForm">Save progress</button>
    <button v-if="hasSaved == true" @click="loadForms">Load Saved version</button>
    </header>
    <article class="content">
        {{ content }}
        {{ form:create in="contact" attr="id:contactForm"}}
            {{ if errors }}
                <div class="alert alert-danger">
                    {{ errors }}
                        {{ value }}<br>
                    {{ /errors }}
                </div>
            {{ /if }}
            {{ if success }}
                <div class="alert alert-success">
                    Form was submitted successfully.
                </div>
            {{ /if }}
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" id="test" value="{{user}}{{ first_name }}{{/user}} {{user}}{{ last_name }}{{/user}}" class="form-control" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" value="{{user}}{{ email }}{{/user}}" class="form-control" />
            </div>
            <div class="form-group">
                <label>Favorite Number</label>
                <input type="number" name="number" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label>Comment</label>
                <select name="comment">
					<option value="value one">value one</option>
					<option value="value two">value two</option>
				</select>
            </div>
			<div class="form-group">
				<label for="how_would_you_rate_your_experience_of_getting_involved ">How would you rate yourexperience of getting involved in MIF19?</label>
					<input class="checkbox" type="checkbox" name="how_would_you_rate_your_experience_of_getting_involved" value="poor" />Poor
					<input class="checkbox" type="checkbox" name="how_would_you_rate_your_experience_of_getting_involved" value="average" />average
					<input class="checkbox" type="checkbox" name="how_would_you_rate_your_experience_of_getting_involved" value="ok/satisfactory"/>satisfactory
			</div>
			<div class="form-group">
				<label for="tester ">tester</label>
					<input class="checkbox" type="checkbox" name="tester" value="test1" />test1
					<input class="checkbox" type="checkbox" name="tester" value="test2" />test2
					<input class="checkbox" type="checkbox" name="tester" value="test3"/>test3
			</div>
            <button class="btn btn-primary">Submit</button>
        {{ /form:create }}
    </article>
 
</section>
</div>
<script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{ else }}
	<div class="container mt-5 padding-top">
		<h3 style="text-align: center">Please create an account or sign in to complete this application</h3>
	</div>
{{ /if }}