<div class="container">
                <button v-if="step == 1" class="col-12 m-0 btn-block" @click.prevent="section(2)">Begin application <i class="text-white fas fa-arrow-right"></i></button>
                <div v-else class="row justify-content-center mt-4">
                        <div class="col-8">
                                <div class="row justify-content-between">
                                <button v-if="step !=2"class="col-12 mt-1 m-0 col-md-5 btn-block btn--small" @click.prevent="prev()"><i class="text-white fas fa-arrow-left"></i> Previous</button>
                                <button v-if="step !=9" class="col-12 mt-1 col-md-5 m-0 btn btn-block btn--small" @click.prevent="next()">Next <i class="fas text-white fa-arrow-right"></i></button>
                                </div>
                        </div>
                </div>
        </div>
</div>
