<main class="row align-items-center four-o-four text-center">
    <div class="col-12 four-o-four__conten pb-5">
        <h1 class="pb-0 mb-0">Thank you <span style="text-transform: capitalize">{{ user }}{{ first_name }}{{ /user }}</span></h1>
        <p>Your application has been submitted</p>
    </div>
    <div class="col-12 four-o-four__anim four-o-four__anim--right mb-3" style="background-image: url('{{ theme:asset src="img/thank-you.svg" }}">
    </div>
    <div class="col-12 four-o-four__anim four-o-four__anim--left" style="background-image: url('{{ theme:asset src="img/thank-you.svg" }}">
    </div>
</main>
